{% extends "base.html.twig" %}
{% block title %}{{'template.planning'|trans}} : {{ user.nom }} {{ user.prenom }}{% endblock %}
{% block body %}
<section class="section-padding">
    <div class="container">
        <h1 class="text-center">{{'template.planning'|trans}} : {{ user.nom }} {{ user.prenom }}</h1>
        <hr />
        <table class = "table table-hover table-striped  table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">{{'template.heure'|trans}}</th>
                    <th scope="col">{{'template.pro'|trans}}</th>
                    <th scope="col">{{'template.action'|trans}}</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for session in sessions %}
                <tr>
                    <td>{{ session.heure|date('H:i') }}</td>
                    <td>{{ session.pro.nom }} {{ session.pro.prenom }} - {{session.pro.poste}}</td>
                    <td>
                        <a href="" class="btn btn-sm btn-success" title = "{{'template.voir_planning'|trans}}"><i class = "bi bi-eye-fill"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{path ('impression_planning_eleve', {id : user.id, nom : user.nom, prenom : user.prenom})}}" role = 'button' class = "btn btn-info btn-sm" target = "_blank"><i class="bi bi-printer-fill"></i></a>
    </div>
</section>
{% endblock %}
