{% extends 'base.html.twig' %}

{% block title %}{{'template.connexion'|trans}}{% endblock %}

{% block header %}
    
{% endblock %}
{% block body %}
    <section class="section-padding">
        <div class="container">
            {% include 'flash_message.html.twig' %}
            <div class="row">
                <div class="col-lg-8 col-12 mx-auto">
                    <h2 class="text-center mb-3">{{'template.connexion'|trans}}</h2>
                        <form method="post">
                            <div class="container custom-form">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        {{'template.msg_connect'|trans}} {{ app.user.userIdentifier }}, <a href="{{ path('deconnexion') }}">{{'template.deconnexion'|trans}}</a>
                                    </div>
                                {% endif %}

                                <label for="username">{{'template.mail'|trans}}</label>
                                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                                <label for="password">{{'template.mdp'|trans}}</label>
                                {# <label for="inputPassword">Mot de passe</label> #}
                                <div class="input-group">
                                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                                    <div class="input-group-append">
                                        <button id="togglePassword" class="btn btn-toogle" type="button"><i class="bi bi-eye-fill"></i></button>
                                    </div>
                                </div>
                                
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            
                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> {{'template.rem'|trans}}
                                    </label>
                                </div>
                            </div>
                            <div class = "container text-center">
                                <div class = "row justify-content-center">
                                    <div class = "col-lg-4 col-md-12 mb-3">
                                        <a href="{{path ("inscription")}}" role = "button" class = "btn btn-primary">{{'template.non_inscrit'|trans}}</a>
                                    </div>
                                    <div class = "col-lg-4 col-md-12 mb-3">
                                        <a href="{{path ("mdp_oublie")}}" role = "button" class = "btn btn-success">{{'template.forget_mdp'|trans}}</a>
                                    </div>
                                    <div class = "col-lg-4 col-md-12 mb-3">
                                        <button class="btn btn-secondary" type="submit">{{'template.button_connexion'|trans}}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </section>

    <script>
    document.getElementById('togglePassword').addEventListener('click', function (e) {
        var passwordInput = document.getElementById('password');
        var passwordIcon = this.querySelector('i'); // Sélection de l'icône à l'intérieur du bouton

        // Bascule entre les types 'text' et 'password' pour le champ de mot de passe
        var type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);

        // Bascule la classe de l'icône
        if (type === 'password') {
            passwordIcon.classList.remove('bi-eye-slash-fill');
            passwordIcon.classList.add('bi-eye-fill');
        } else {
            passwordIcon.classList.remove('bi-eye-fill');
            passwordIcon.classList.add('bi-eye-slash-fill');
        }
    });
</script>
{% endblock %}
