{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section class="contact-section section-padding" id="section_3">
        <div class="container">
            {% include 'flash_message.html.twig' %}
            <div class="row">
                <div class="col-lg-8 col-12 mx-auto">
                    <h2 class="text-center mb-4">Inscription</h2>
                        <p class = "text-center">Les champs avec (*) sont obligatoire</p>
                        <div class = "custom-form">
                            <div class = "container">
                                {{ form_errors(registrationForm) }}

                                {{ form_start(registrationForm) }}
                                    <div class = 'row'>
                                        <div class = 'col-lg-6 col-md-12'>{{ form_row(registrationForm.nom) }}</div>
                                        <div class = 'col-lg-6 col-md-12'>{{ form_row(registrationForm.prenom) }}</div>
                                    </div>
                                    {{ form_row(registrationForm.email) }}
                                    <div class = 'row'>
                                        <div class = 'col-lg-6 col-md-12'>{{ form_row(registrationForm.session)}}</div>
                                        <div class = 'col-lg-6 col-md-12'>{{ form_row(registrationForm.filiere) }}</div>
                                    </div>
                                    <label>Mot de passe (*)</label>
                                    <div class = 'row'>
                                        <div class = "col-11">{{ form_widget(registrationForm.plainPassword1) }} </div>
                                        <div class = 'col-1'><button id="togglePassword" class="btn btn-toogle" type="button"><i class="bi bi-eye-fill"></i></button></div>
                                    </div>
                                    <label>Repeter le mot de passe (*)</label>
                                    <div class = 'row'>
                                        <div class = "col-11">{{ form_widget(registrationForm.plainPassword2) }} </div>
                                        <div class = 'col-1'><button id="togglePassword2" class="btn btn-toogle" type="button"><i class="bi bi-eye-fill"></i></button></div>
                                    </div>
                                    {{ form_row(registrationForm.question) }}
                                    {{ form_row(registrationForm.imageFile) }}
                                    {# {{ form_row(registrationForm.agreeTerms) }} #}
                                    <button type="submit" class="btn btn-primary">S'inscrire</button>
                                {{ form_end(registrationForm) }}
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <script>
    document.getElementById('togglePassword').addEventListener('click', function (e) {
        var passwordInput = document.getElementById('registration_form_plainPassword1');
        var passwordIcon = this.querySelector('i'); // Sélection de l'icône à l'intérieur du bouton

        // Bascule entre les types 'text' et 'password' pour le champ de mot de passe
        var type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        // Bascule la classe de l'icône
        if (type === 'password') {
            passwordIcon.classList.remove('bi-eye-slash-fill');
            passwordIcon.classList.add('bi-eye-fill');
        } else {
            passwordIcon.classList.remove('bi-eye-fill');
            passwordIcon.classList.add('bi-eye-slash-fill');
        }
    });
    document.getElementById('togglePassword2').addEventListener('click', function (e) {
        var passwordInput = document.getElementById('registration_form_plainPassword2');
        var passwordIcon = this.querySelector('i'); // Sélection de l'icône à l'intérieur du bouton

        // Bascule entre les types 'text' et 'password' pour le champ de mot de passe
        var type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        // Bascule la classe de l'icône
        if (type === 'password') {
            passwordIcon.classList.remove('bi-eye-slash-fill');
            passwordIcon.classList.add('bi-eye-fill');
        } else {
            passwordIcon.classList.remove('bi-eye-fill');
            passwordIcon.classList.add('bi-eye-slash-fill');
        }
    });
    </script>
{% endblock %}
