{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {{ include("flash_message.html.twig") }}
    <section class="contact-section section-padding" id="section_3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 mx-auto">
                    <h2 class="text-center mb-4">Inscription</h2>
                        <p class = "text-center">Les champs avec (*) sont obligatoire</p>
                        <div class = "custom-form">
                            <div class = "container">
                                {{ form_errors(registrationForm) }}

                                {{ form_start(registrationForm) }}
                                    <div class = 'row'>
                                        <div class = 'col-lg-6 col-md-12'>{{ form_row(registrationForm.nom) }}</div>
                                        <div class = 'col-lg-6 col-md-12'>{{ form_row(registrationForm.prenom) }}</div>
                                    </div>
                                    {{ form_row(registrationForm.email) }}
                                    {{ form_row(registrationForm.session)}}
                                    {{ form_row(registrationForm.plainPassword) }}
                                    {{ form_row(registrationForm.question) }}
                                    {{ form_row(registrationForm.imageFile) }}
                                    {# {{ form_row(registrationForm.agreeTerms) }} #}
                                    <button type="submit" class="btn btn-primary">S'inscrire</button>
                                {{ form_end(registrationForm) }}
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
