{% extends 'base_back.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class = "container">
        {% include 'flash_message.html.twig' %}
        <h1 class="text-center">Bienvenue sur le côté organisation</h1>
        <hr />
        <h2>Liens utiles</h2>
        <ul>
            <li>
                <a href="https://drive.google.com/drive/folders/1VrEDYPi4t1igFjhSruPWiIRmnaTK47uh?usp=sharing">Lien du Google Drive</a>
            </li>
            <li>
                <a href = "{{path ("creer_pro")}}">Ajouter un professionnel</a>
            </li>
            <li>
                <a href = "{{path ("add_num_etud")}}">Ajouter Numero étudiant</a>
            </li>
        </ul>
        <hr />
        <h2>Statistiques : </h2>
        <p>Nombre total d'eleve : {{nbre_eleve}}/74</p>
        <p>Nombre total d'organisateur : {{nbre_orga}}/9</p>
        <p>Nombre de professionnel enregistrer : {{nbre_pro}}</p>
        <hr />
        {% if variable is not null %}
            {{form_start(form)}}
                <div class = "form-group row">
                    <div class = "col-6">{{form_label(form.date_fin_inscription, "Date de fin pour l'inscription : " ~ date_fin_inscription)}}</div>
                    <div class = "col-6">{{form_widget(form.date_fin_inscription, {"attr": {"class": "form-control"}})}}</div>
                </div>
                <div class = "form-group row">
                    <div class = "col-6">{{form_label(form.date_ouver_resa, "Date d'ouverture des réservations : " ~ date_ouver_resa )}}</div>
                    <div class = "col-6">{{form_widget(form.date_ouver_resa, {"attr": {"class": "form-control"}})}}</div>
                </div>
                <div class = "form-group row">
                    <div class = "col-6">{{form_label(form.date_fin_resa, "Date de fermeture des réservations : " ~ date_fin_resa)}}</div>
                    <div class = "col-6">{{form_widget(form.date_fin_resa, {"attr": {"class": "form-control"}})}}</div>
                </div>
                <div class = "form-group row">
                    <div class = "col-6">{{form_label(form.place_session, "Limite de places par session : " ~ place_session)}}</div>
                    <div class = "col-6">{{form_widget(form.place_session, {"attr": {"class": "form-control"}})}}</div>
                </div>
                <div class = "form-group row">
                    <div class = "col-6">{{form_label(form.place_rdv, "Limite de places par RDVs - Session 1 : " ~ place_rdv) }}</div>
                    <div class = "col-6">{{form_widget(form.place_rdv, {"attr": {"class": "form-control"}})}}</div>
                </div>
                <div class = "form-group row">
                    <div class = "col-6">{{form_label(form.place_rdv2, "Limite de places par RDVs - Session 2 : " ~ place_rdv2) }}</div>
                    <div class = "col-6">{{form_widget(form.place_rdv2, {"attr": {"class": "form-control"}})}}</div>
                </div>
                <button type = "submit" class = "btn btn-primary">Mettre a jour</button>
            {{form_end(form)}}
            <hr />
        {% else %}
            {{form_start(form)}}
                <div class = "form-group row">
                    <div class = "col-6">{{form_label(form.date_fin_inscription, "Date de fin pour l'inscription")}}</div>
                    <div class = "col-6">{{form_widget(form.date_fin_inscription, {"attr": {"class": "form-control"}})}}</div>
                </div>
                <div class = "form-group row">
                    <div class = "col-6">{{form_label(form.date_ouver_resa, "Date d'ouverture des réservations")}}</div>
                    <div class = "col-6">{{form_widget(form.date_ouver_resa, {"attr": {"class": "form-control"}})}}</div>
                </div>
                <div class = "form-group row">
                    <div class = "col-6">{{form_label(form.date_fin_resa, "Date de fermeture des réservations")}}</div>
                    <div class = "col-6">{{form_widget(form.date_fin_resa, {"attr": {"class": "form-control"}})}}</div>
                </div>
                <div class = "form-group row">
                    <div class = "col-6">{{form_label(form.place_session, "Nouvelle limite de places par session")}}</div>
                    <div class = "col-6">{{form_widget(form.place_session, {"attr": {"class": "form-control"}})}}</div>
                </div>
                <div class = "form-group row">
                    <div class = "col-6">{{form_label(form.place_rdv, "Nouvelle limite de places par RDVs")}}</div>
                    <div class = "col-6">{{form_widget(form.place_rdv, {"attr": {"class": "form-control"}})}}</div>
                </div>
                <button type = "submit" class = "btn btn-primary">Mettre a jour</button>
            {{form_end(form)}}
            <hr />
        {% endif %}
    </div>
{% endblock %}
