{% extends 'base_back.html.twig' %}
{% block title %}
    Liste des élèves
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center">Liste des organisateur</h1>
        <hr />
        {# {{ form_start(form, {'method': 'POST'}) }} #}
        <div class="row">
            <div class="col-12">
                <table class="table table-striped table-hover">
                    <thead class = "table-dark">
                    <tr>
                        {# <th>Selection</th> #}
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Mail</th>
                        {# <th>Validé</th> #}
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for organisateur in organisateurs %}
                        {# {% set cpt = loop.index0 %} #}
                        <tr>
                            {# <td>
                                {{ form_row(form["email_"~ loop.index0]) }}
                            </td> #}
                            <td>{{ organisateur.nom }}</td>
                            <td>{{ organisateur.prenom }}</td>
                            <td>{{ organisateur.email }}</td>
                            {# <td>{{ organisateur.valide }}</td> #}
                            <td>
                                <a href="{{path ('front_eleve', {id : organisateur.id, nom : organisateur.nom, prenom:organisateur.prenom})}}" class="btn btn-sm btn-primary"><i class="bi bi-eye-fill"></i></a>
                                <a href="mailto:{{organisateur.email}}" class="btn btn-sm btn-secondary"><i class="bi bi-envelope-at-fill"></i></a>
                                <a href="{{path ('impression_fiche_eleve', {id : organisateur.id, nom : organisateur.nom, prenom:organisateur.prenom})}}" class="btn btn-sm btn-warning"><i class="bi bi-printer-fill"></i></a>
                                <a href="{{path ("supprimer", {id:organisateur.id})}}" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {# <a href="{{ path('organisateur_new') }}" class="btn btn-success">Ajouter un organisateurfessionnel</a> #}
            </div>
        </div>
        {# {{ form_end(form) }} #}
    </div>
{% endblock %}