{% extends 'base_back.html.twig' %}
{% block title %}
    Liste des professionnels
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center">Liste des professionnels</h1>
        <hr />
        <table class="table table-striped table-hover table-responsive">
            <thead class = "table-dark">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Mail</th>
                <th>Inscrit</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for pro in pros %}
                <tr>
                    <td>{{ pro.nom }}</td>
                    <td>{{ pro.prenom }}</td>
                    <td>{{ pro.email }}</td>
                    <td>
                        {% if pro.infovalid == 1 %}
                            <i class="bi bi-check-circle-fill text-success"></i>
                        {% else %}
                            <i class="bi bi-x-circle-fill text-danger"></i>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{path ("front_pro", {nom : pro.nom, prenom : pro.prenom, id : pro.id})}}" class="btn btn-sm btn-primary" title = "Fiche du professionnel"><i class="bi bi-eye-fill"></i></a>
                        <a href="mailto:{{pro.email}}" class="btn btn-sm btn-secondary" title = "Envoyer un mail"><i class="bi bi-envelope-at-fill"></i></a>
                        <a href="{{path ("impression_fiche_professionnel", {nom : pro.nom, prenom : pro.prenom, id : pro.id})}}" class="btn btn-sm btn-warning" title = "Imprimer la fiche du professionnel" target="_blank"><i class="bi bi-printer-fill"></i></a>
                        <a href="{{path ("planning_pro", {nom : pro.nom, prenom : pro.prenom, id : pro.id})}}" class="btn btn-sm btn-info" title = "Voir le planning du professionnel"><i class="bi bi-calendar2-range"></i></a>
                        <a href="{{path ("supprimer", {id:pro.id})}}" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}