{% extends 'base.html.twig' %}

{% block title %}{{'template.inscription'|trans}}{% endblock %}

{% block body %}
    <section class="contact-section section-padding" id="section_3">
        <div class="container">
            {% include 'flash_message.html.twig' %}
            <div class="row">
                <div class="col-lg-8 col-12 mx-auto">
                    <h2 class="text-center mb-4">{{'template.inscription'|trans}}</h2>
                    <p class = "text-center">{{'template.obligatoire'|trans}}</p>
                    <div class = "custom-form mt-4">
                        <div class = "container">
                            {{ form_errors(form) }}
                            {{ form_start(form) }}
                                <div class = "row">
                                    <div class = "col-lg-6 col-md-12">{{form_row(form.nom)}}</div>
                                    <div class = "col-lg-6 col-md-12">{{form_row(form.prenom)}}</div>       
                                </div>
                                <div class = "row">
                                    <div class = "col-12">{{form_row(form.email)}}</div>
                                </div>
                                <div class = "row">
                                    <div class = "col-lg-6 col-md-12">{{form_row(form.poste)}}</div>
                                    <div class = "col-lg-6 col-md-12">{{form_row(form.entreprise)}}</div>    
                                </div>
                                <label>{{'form.mdp1'|trans}}</label>
                                    <div class="input-group">
                                        {{form_widget(form.plainPassword1) }}
                                        <div class="input-group-append">
                                            <button id="togglePassword" class="btn btn-toogle" type="button"><i class="bi bi-eye-fill"></i></button>
                                        </div>
                                    </div>
                                <label>{{'form.mdp2'|trans}}</label>
                                    <div class="input-group">
                                        {{form_widget(form.plainPassword2) }}
                                        <div class="input-group-append">
                                            <button id="togglePassword2" class="btn btn-toogle" type="button"><i class="bi bi-eye-fill"></i></button>
                                        </div>
                                    </div>
                                <div class = "row">
                                    <div class = "col-12">{{form_row(form.etude)}}</div>
                                    <div class = "col-12">{{form_row(form.question)}}</div> 
                                    <div class = "col-12">{{form_row(form.imageFile)}}</div> 
                                    <div class = "col-12">{{form_row(form.valid)}}</div>        
                                </div>

                                <button type="submit" class="btn btn-primary">{{'template.button_inscrit'|trans}}</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
    document.getElementById('togglePassword').addEventListener('click', function (e) {
        var passwordInput = document.getElementById('registration_pro_form_plainPassword1');
        var passwordIcon = this.querySelector('i'); // Sélection de l'icône à l'intérieur du bouton

        // Bascule entre les types 'text' et 'password' pour le champ de mot de passe
        var type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        // Bascule la classe de l'icône
        if (type === 'password') {
            passwordIcon.classList.remove('bi-eye-slash-fill');
            passwordIcon.classList.add('bi-eye-fill');
        } else {
            passwordIcon.classList.remove('bi-eye-fill');
            passwordIcon.classList.add('bi-eye-slash-fill');
        }
    });
    document.getElementById('togglePassword2').addEventListener('click', function (e) {
        var passwordInput = document.getElementById('registration_pro_form_plainPassword2');
        var passwordIcon = this.querySelector('i'); // Sélection de l'icône à l'intérieur du bouton

        // Bascule entre les types 'text' et 'password' pour le champ de mot de passe
        var type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        // Bascule la classe de l'icône
        if (type === 'password') {
            passwordIcon.classList.remove('bi-eye-slash-fill');
            passwordIcon.classList.add('bi-eye-fill');
        } else {
            passwordIcon.classList.remove('bi-eye-fill');
            passwordIcon.classList.add('bi-eye-slash-fill');
        }
    });
    </script>
{% endblock %}
