{% extends 'base.html.twig' %}
{% block title %}{{"template.orga"|trans}}{% endblock %}
{% block body %}
    <section class = "section-padding">
        <div class = "container">
            <h1 class = "text-center">{{"template.orga"|trans}}</h1>
            <hr class = "my-4">
            <h2>{{"template.avt_sm"|trans}}</h2>
            <p>
                {{"template.orga_info1"|trans}}
            </p>
            <br />
            <p>
                {{"template.orga_info2"|trans}}
            </p>
            <h2>{{"template.during_sm"|trans}}</h2>
            <p>
                {{"template.orga_info3"|trans}} :
                <ul>
                    <li>{{"template.orga_info3.1"|trans}} {{limite}} {{"template.orga_info3.3"|trans}}
                    </li>
                    <li>{{"template.orga_info3.2"|trans}}
                    </li>
                </ul> 
        </div>
    </section>
{% endblock %}