<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    {# <meta name="viewport" content="width=device-width, initial-scale=1"> #}
    <title>PDF : {{ user.nom }}-{{ user.prenom }}</title>
    <style type="text/css">
        body {
            font-family: 'Outfit', sans-serif;
        }
        table {
            width: 100%;
        }
        .text-cell {
            width: 75%;
        }
        .image-cell {
            width: 25%;
        }
        .image-cell img {
            width: auto; /* Adjust as necessary */
            height: 120px; /* Adjust as necessary */
            display: block; /* This will make the image align right */
            margin-left: auto;
        }
        .header {
            text-align: center;
            margin-bottom: 20px;
        }
        hr {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Profil de {{ user.nom }} {{ user.prenom }}</h1>
        <h2>Présentation</h2>
    </div>
    <hr />
    <table>
        <tr>
            <td class="text-cell">
                <p><strong>Nom :</strong> {{ user.nom }}</p>
                <p><strong>Prénom :</strong> {{ user.prenom }}</p>
                <p><strong>Email :</strong> {{ user.email }}</p>
                {# <p><strong>Intitulé du poste :</strong> {{ user.poste }}</p> #}
                <p><strong>Filière :</strong> {{ user.filiere }}</p>
            </td>
            <td class="image-cell">
                <img src="{{ imagePath }}" alt="Photo - {{ user.nom }} {{ user.prenom }}">
            </td>
        </tr>
    </table>
    <hr />
    <div class="content-section">
        {# <h2 class="header">Etude</h2>
        <p>{{ user.etude|nl2br }}</p>
        <hr /> #}
        <h2 class="header"> ?</h2>
        <p>{{ user.question|nl2br}}</p>
    </div>
</body>
</html>
