<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    {# <meta name="viewport" content="width=device-width, initial-scale=1"> #}
    <title>PDF : {{ user.nom }}-{{ user.prenom }}</title>
    <style type="text/css">
        body {
            font-family: 'Outfit', sans-serif;
        }
        table {
            width: 100%;
        }
        .text-cell {
            width: 75%;
        }
        .image-cell {
            width: 25%;
        }
        .image-cell img {
            width: auto; /* Adjust as necessary */
            height: 120px; /* Adjust as necessary */
            display: block; /* This will make the image align right */
            margin-left: auto;
        }
        .header {
            text-align: center;
            margin-bottom: 20px;
        }
        hr {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>{{"template.profil"|trans}} : {{ user.nom }} {{ user.prenom }}</h1>
        <h2>{{"template.info_gene"|trans}}</h2>
    </div>
    <hr />
    <table>
        <tr>
            <td class="text-cell">
                <p><strong>{{"template.nom"|trans}} :</strong> {{ user.nom }}</p>
                <p><strong>{{"template.prenom"|trans}} :</strong> {{ user.prenom }}</p>
                <p><strong>{{"template.filiere"|trans}} :</strong> {{ user.filiere }}</p>
            </td>
        </tr>
    </table>
    <hr />
    <div class="content-section">
        <h2 class="header">{{"template.question_etud"|trans}}</h2>
        <p>{{ user.question|nl2br}}</p>
    </div>
</body>
</html>
