<!doctype html>
<html lang="fr">
<head>
    <title>{{"template.planning"|trans}} : {{ user.nom }} {{ user.prenom }} </title>
</head>
<body>
    <div class="container">
        <h1>{{"template.planning"|trans}} : {{ user.nom }} {{ user.prenom }}</h1>
        <hr />
            <div class = "row">
                {% for key, session in sessions %}
                    <strong>{{"template.heure"|trans}} : </strong>{{ key }}
                    {% for session in sessions[key] %}
                        <br />
                        <strong>{{"template.student"|trans}} :</strong>
                        {{ session.eleve.nom }} {{ session.eleve.prenom }}
                    {% endfor %}
                    <hr />
                {% endfor %}
            </div>
    </div>
</body>
</html>
