<!doctype html>
<html lang="fr">
<head>
    <title>Planning : {{ user.nom }} {{ user.prenom }} </title>
</head>
<body>
    <div class="container">
        <h1>Planning : {{ user.nom }} {{ user.prenom }}</h1>
        <hr />
            <div class = "row">
                {% for key, session in sessions %}
                    <strong>Heure : </strong>{{ key }}
                    {% for session in sessions[key] %}
                        <br />
                        <strong>Eleve :</strong>
                        {{ session.eleve.nom }} {{ session.eleve.prenom }}
                    {% endfor %}
                    <hr />
                {% endfor %}
            </div>
    </div>
</body>
</html>
